                        /*Maquetado*/
                        
                        body {
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            background-color: beige;
                        }
                        
                        * {
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            list-style: none;
                        }
                        
                        #parent {
                            display: grid;
                            grid-template-areas: "header" "main";
                            grid-template-rows: auto;
                        }
                        
                        #parent {
                            display: none;
                        }
                        
                        header {
                            grid-area: header;
                        }
                        
                        main {
                            grid-area: main;
                        }
                        
                        .page {
                            width: 210mm;
                            min-height: 297mm;
                            padding: 20mm;
                            margin: 10mm auto;
                            border: 1px #D3D3D3 solid;
                            border-radius: 5px;
                            background: white;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                        }
                        
                        .subpage {
                            padding: 1cm;
                            border: 5px red solid;
                            height: 257mm;
                            outline: 2cm #FFEAEA solid;
                        }
                        
                        @page {
                            size: A4;
                            margin: 0;
                        }
                        
                        @media print {
                            html,
                            body {
                                width: 210mm;
                                height: 297mm;
                            }
                            .page {
                                margin: 0;
                                border: initial;
                                border-radius: initial;
                                width: initial;
                                min-height: initial;
                                box-shadow: initial;
                                background: initial;
                                page-break-after: always;
                            }
                        }
                        /*EndMaquetado*/
                        /*Fuentes*/
                        
                        @font-face {
                            font-family: 'Liberation Serif';
                            src: url(/fonts/LiberationSerif-Regular.ttf);
                        }
                        
                        li,
                        p,
                        th,
                        tr {
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 12px;
                        }
                        
                        h1,
                        h2 {
                            font-family: 'Liberation Serif';
                            font-size: 20px;
                        }
                        /*EndFuentes*/
                        /*Portada*/
                        
                        .titulo {
                            text-align: center;
                        }
                        
                        .institucion {
                            text-align: right;
                        }
                        
                        .orco {
                            display: flex;
                            justify-content: center;
                        }
                        
                        .portada_datos {
                            text-align: left;
                        }
                        /*endPortada*/
                        /*Encabezado*/
                        
                        .encabezado {
                            width: 170mm;
                            height: 60px;
                            position: relative;
                        }
                        
                        .logos {
                            position: absolute;
                            right: 1px;
                            top: -10px;
                        }
                        
                        .logo {
                            height: 60px;
                            width: 60px;
                        }
                        /*endEncabezado*/
                        /*tabla*/
                        
                        table,
                        th,
                        tr {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                        
                        th,
                        td {
                            padding: 10px;
                        }
                        
                        th {
                            text-align: left;
                        }
                        /*Endtabla*/